<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿編集</h1>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 edit-task-form">
          <%= form_tag(user_task_path ,method: :patch) do %>
            <% if @task.errors.any? %>
              <div class="alert alert-danger">
                入力エラーが <%= @task.errors.count %>件ありました。
              </div>
              <% @task.errors.full_messages.each do |message| %>
                <div class="form-error"><%= message %></div>
              <% end %>    
            <% end %>
            <p>名称</p>
              <input type="text" name="name" value = "<%= @task.name %>", class: "form-control">
            <p>詳細</p>
              <textarea name="note"><%= @task.note %></textarea>
            <div>
              <input type="submit" value="更新" class: "btn btn-task-edit" >
              <%= link_to "キャンセル", user_tasks_path(current_user), class: "btn-cansel" %>
            </div>          
          <% end %>
        </div>
      </div>
  </div>
</div>