<h1><%= @current_user.name %>のタスク一覧</h1>
  <div class="col-md-10 col-md-offset-1">
      <%= link_to "タスク新規作成", new_user_task_path(current_user), class: "btn btn-primary pull-right btn-destroy" %>
    <table class="table table-condensed table-hover" id="table-tasks">
      <% @tasks.each do |task| %>
        <tr>
          <td><%= link_to task.name, user_task_path(@current_user.id, task.id) %></td>
          <td><%= task.created_at %></td>
          <td><%= link_to "編集", edit_user_task_path(@current_user.id, task.id), class: "btn btn-success"%></td>
          <td><%= link_to "削除", user_task_path(@current_user.id, task.id), method: :delete, class: "btn btn-danger"%></td>        
       </tr>
      <% end %>
    </table>
  </div>

